body {
    background-color: #15151E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#cen {
    text-align: center;
    padding: 20%;
    font-size: 60px;
    border: 10px solid #000000;
}

.container {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 24px;
}

.titles {
    text-decoration: underline;
    color: white;
}